body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    // max-width: 1000px;
    
}
/* 在 custom-style.scss 文件中 */

/* 增加内容的宽度 */
.content {
    max-width: 800px; /* 调整为适当的宽度 */
}

.sidebar {
    position: fixed;
    top: 75px;
    right: 0;
    height: 100%;
    min-width: 25px;
    display: flex;
    z-index: 3;
    max-width: 350px; /* 将 max-width 调整为原来的 60% */
}
.filetree-sidebar {
    margin: 0;
    z-index: 10;
    padding: 10px;
    top: 0px;
    left: 0;
    position: fixed;
    height: 100%;
    background-color: var(--background-secondary);
    color: var(--text-muted);
    overflow-y: auto;
    width: 200px; /* 将宽度调整为原来宽度的一半 */
    h1 {
        font-size: 32px !important;
    }
    @media (max-width: 800px) {
        h1 {
            display: none;
        }

        .search-button {
            width: 100%;
            margin: 2px;
        }
    }
}



// .sidebar-container {
//     padding-right: 10px; /* 根据您的具体需求调整 padding */
//     width: 60%; /* 将整体宽度调整为原来的 60% */
//     overflow-y: auto;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     height: 90%; /* 保持高度为100% */
// }



