body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    // max-width: 1000px;
    
}
/* 在 custom-style.scss 文件中 */

/* 增加内容的宽度 */
.content {
    max-width: 800px; /* 调整为适当的宽度 */
}
.cm-s-obsidian{
    margin-left: 210px;
    margin-right: 240px;
}
.filetree-sidebar {
    margin: 0;
    z-index: 10;
    padding: 10px;
    top: 0px;
    left: 0;
    position: fixed;
    height: 100%;
    background-color: var(--background-secondary);
    color: var(--text-muted);
    overflow-y: auto;
    width: 200px; /* 将宽度调整为原来宽度的一半 */
    h1 {
        font-size: 32px !important;
    }
    @media (max-width: 800px) {
        h1 {
            display: none;
        }

        .search-button {
            width: 100%;
            margin: 2px;
        }
    }
}




